<section>
  <div class="container pt-4">
    <p class="fs-2 fw-bold">User list</p>
    <table class="table mt-4">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        {{#each users}}
          <tr>
            <td>{{this.name}}</td>
            <td>{{this.email}}</td>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>