# See https://prettier.io/docs/en/ignore.html for more about prettier ignoring files.

# dependencies
/node_modules
.vscode

# production
/build

# misc
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*