<section>
  <div class="container mt-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-6">
        <h2 class="text-center">Login</h2>
        <form action="/login" method="post" class="mt-4">
          {{#if loginErr}}
            <p class="error">{{loginErr}}</p>
          {{/if}}
          <div class="mb-2">
            <label for="" class="form-label">Email</label>
            <input type="email" name="email" class="form-control" value="kbijin528.pro@gmail.com" />
          </div>
          <div class="mb-2">
            <label for="" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" value="bijin1234" />
          </div>
          <div class="d-flex justify-content-between mt-4">
            <a href="/signup" class="align-self-center">Create new account</a>
            <button type="submit" class="btn btn-primary float-right">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>