<section>
  <div class="container">
    <div class="d-flex flex-column justify-content-center align-items-center" style="height: 70vh;">
      <p class="" style="font-size: 3rem;">Order success</p>
      <a href="/orders" class="btn btn-primary">View Order List</a>
    </div>
  </div>
</section>